<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Edit <%= blog.name %></h1>

    <form action="/blog/<%=blog._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= blog.name %>"/>
        
        <label for="isActive">Active:</label>
        <input type="checkbox" name="isActive" id="is-active" <% if (blog.isActive) { %>checked<% } %>/>
        
        <label for="datePublished">Date Published:</label>
        <input type="date" name="datePublished" id="date-published" value="<%= blog.datePublished %>"/>
        
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" value="<%= blog.category %>"/>
        
        <label for="content">Content:</label>
        <textarea id="content" name="content" rows="4" cols="50"><%= blog.content %></textarea>

        <button type="submit">Update Blog Post</button>
    </form>
    <a href="/blog">Back to all blogs</a>

</body>
</html>