<%- include('../partials/head') %>
<%- include('../partials/nav') %>
    
    <h1><%= page.title %></h1>

    <form action="/blog/<%=blog._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= blog.name %>"/>
        
        <label for="isActive">Active:</label>
        <input type="checkbox" name="isActive" id="is-active" <% if (blog.isActive) { %>checked<% } %>/>
        
        <label for="datePublished">Date Published:</label>
        <input type="date" name="datePublished" id="date-published" value="<%= blog.datePublished %>"/>
        
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" value="<%= blog.category %>"/>
        
        <label for="content">Content:</label>
        <textarea id="content" name="content" rows="4" cols="50"><%= blog.content %></textarea>

        <div class="blog-control-buttons">
            <button type="submit">Update Blog Post</button>

            <a href="/blog">
                <button>Back to all blogs</button>
            </a>
        </div>
    </form>
    

<%- include('../partials/footer') %>