<%- include('../partials/head') %>
<%- include('../partials/nav') %>
    
    <h1><%= page.title %></h1>

    <a href="/blog/new">Add Blog Post</a>

    <% blogs.forEach((blog)=> { %>
        <div>

            <!-- TODO: replace <br> with css -->
            <!-- TODO: do we have all the right columns to display? -->
            <br>
            <h2><%= blog.name %></h2>
            <p><%= blog.author %></p>
            <p><%= blog.datePublished %></p>
            <p><%= blog.description %></p>
            
            <a href="/blog/<%=blog.nameURL%>">
                <%= blog.name %>
            </a>
            <br><br>
            <hr>

        </div>
    <% }) %>
    
<%- include('../partials/footer') %>