<%- include('../partials/head') %>
<%- include('../partials/nav') %>
    
    <div class="blog-post">
        <h1><%= page.title %></h1>

        <br>
        <a href="/blog/">View all blog posts</a>

        <br>
 
        <p><%= blog.datePublished %></p>
        <p><%= blog.description %></p>
        <p><%= blog.category %></p>
        
        <br>
        <div><%- blog.content %></div>
        
        <div class="row blog-control-buttons">
            <form action="/blog/<%=blog._id%>?_method=DELETE" method="POST">
                <button type="submit">
                    Delete
                </button>
            </form>
        
            <a href="/blog/<%= blog._id %>/edit">
                <button>Edit</button>
            </a>
        </div>
    </div>

<%- include('../partials/footer') %>